<div class="jumbo">
  <img src="../assets/images/access.png" alt="image" width="600" height="350">
  <h2>Thankyou!!</h2>
  <h2>We ll'be back to you soon.</h2>
  <p>Please check your mail.</p>
  
      <LinkTo @route="index" class="button">Home</LinkTo>
  
</div>